alias rg='bundle exec rake gen'
alias rt='bundle exec rake test'
alias cr='RUST_BACKTRACE=1 cargo run'
alias crl='RUST_BACKTRACE=1 cargo run 2>&1 | tee log'
alias cb='cargo build'
alias be='bundle exec'
alias rails-tags='ctags --langmap=RUBY:.rb --exclude="*.js"  --exclude=".git*" -R ./app ./lib ./spec ./config'
alias cbr='__git_ps1 "%s"'  # current branch
alias vim='~/local/bin/nvim.appimage'
