[ghq]
  root = ~/src
[user]
	name = Junichiro Kasuya
	email = junichiro.kasuya@gmail.com
[alias]
  st = status
  di = diff
  co = commit
  ad = add
  stt = status -uno
  difff = diff --word-diff
  br = branch
[push]
	default = matching
[color]
	ui = true
[credential]
	helper = cache --timeout=43200
